In [3]:
from azureml.opendatasets import NycTlcGreen
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [5]:
green_taxi_df = pd.DataFrame([])
start = datetime.strptime("1/1/2015","%m/%d/%Y")
end = datetime.strptime("1/31/2015","%m/%d/%Y")

for sample_month in range(12):
    temp_df_green = NycTlcGreen(start + relativedelta(months=sample_month), end + relativedelta(months=sample_month)) \
        .to_pandas_dataframe()
    green_taxi_df = green_taxi_df.append(temp_df_green.sample(2000))

green_taxi_df.head(10)

[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmpizf8acn0\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=1\part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmpa0bz61y0\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=2\part-00007-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2577-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmp3te5hwkt\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=3\part-00133-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2703-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmpcvwbxpfc\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=4\part-00073-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2643-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmpgbolwg0i\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=5\part-00177-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2747-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmp_g9g9h9i\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=6\part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-2.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmp14xfbw1p\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=7\part-00147-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2717-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmptxr50l31\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=8\part-00074-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2644-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmpdn6lwtjv\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=9\part-00092-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2662-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmp_4j0vgi1\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=10\part-00105-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2675-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmp2z2svmub\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=11\part-00089-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2659-1.c000.snappy.parquet
[Info] read from C:\Users\ANNEMA~1\AppData\Local\Temp\tmphotbbjut\https%3A\%2Fazureopendatastorage.azurefd.net\nyctlc\green\puYear=2015\puMonth=12\part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-1.c000.snappy.parquet

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType,puYear,puMonth
1493983,2,2015-01-30 10:28:50,2015-01-30 10:51:08,1,2.79,None,None,-73.933907,40.763004,-73.969093,...,0.0,0.5,0.3,0.00,0.0,NaN,16.30,1.0,2015,1
1278663,2,2015-01-14 15:55:24,2015-01-14 15:55:41,1,0.00,None,None,-73.907806,40.752865,-73.907799,...,0.0,0.5,0.3,0.00,0.0,NaN,3.30,1.0,2015,1
625784,2,2015-01-03 22:36:34,2015-01-03 22:41:06,1,0.01,None,None,-73.962875,40.649597,-73.954956,...,0.5,0.5,0.3,1.25,0.0,NaN,7.05,1.0,2015,1
920350,1,2015-01-08 21:11:18,2015-01-08 21:27:40,1,3.20,None,None,-73.910858,40.676563,-73.945564,...,0.5,0.5,0.3,3.00,0.0,NaN,17.30,1.0,2015,1
1136994,2,2015-01-18 00:04:21,2015-01-18 00:12:37,1,1.94,None,None,-73.862434,40.730423,-73.892097,...,0.5,0.5,0.3,0.00,0.0,NaN,9.80,1.0,2015,1
284569,2,2015-01-02 22:37:44,2015-01-02 22:39:32,1,0.26,None,None,-73.948387,40.707794,-73.948555,...,0.5,0.5,0.3,0.00,0.0,NaN,4.80,1.0,2015,1
575314,1,2015-01-27 18:07:36,2015-01-27 18:13:16,1,1.00,None,None,-73.963600,40.710770,-73.951981,...,1.0,0.5,0.3,1.00,0.0,NaN,8.30,1.0,2015,1
1089752,2,2015-01-03 14:21:00,2015-01-03 14:30:02,1,1.59,None,None,-73.991241,40.692589,-73.988998,...,0.0,0.5,0.3,2.00,0.0,NaN,10.80,1.0,2015,1
422988,2,2015-01-20 01:13:55,2015-01-20 01:17:40,1,0.85,None,None,-73.952583,40.714092,-73.957870,...,0.5,0.5,0.3,1.00,0.0,NaN,7.30,1.0,2015,1
435274,2,2015-01-20 10:44:09,2015-01-20 10:52:41,1,1.18,None,None,-73.987427,40.691750,-73.977867,...,0.0,0.5,0.3,0.00,0.0,NaN,7.80,1.0,2015,1

In [7]:
def build_time_features(vector):
    pickup_datetime = vector[0]
    month_num = pickup_datetime.month
    day_of_month = pickup_datetime.day
    day_of_week = pickup_datetime.weekday()
    hour_of_day = pickup_datetime.hour

    return pd.Series((month_num, day_of_month, day_of_week, hour_of_day))

green_taxi_df[["month_num", "day_of_month","day_of_week", "hour_of_day"]] = green_taxi_df[["lpepPickupDatetime"]].apply(build_time_features, axis=1)
green_taxi_df.head(10)

KeyError: &quot;None of [Index([&#39;lpepPickupDatetime&#39;], dtype=&#39;object&#39;)] are in the [columns]&quot;

In [6]:
columns_to_remove = ["lpepPickupDatetime", "lpepDropoffDatetime", "puLocationId", "doLocationId", "extra", "mtaTax",
                     "improvementSurcharge", "tollsAmount", "ehailFee", "tripType", "rateCodeID",
                     "storeAndFwdFlag", "paymentType", "fareAmount", "tipAmount"
                    ]
for col in columns_to_remove:
    green_taxi_df.pop(col)

green_taxi_df.head(5)

,vendorID,passengerCount,tripDistance,pickupLongitude,pickupLatitude,dropoffLongitude,dropoffLatitude,totalAmount,puYear,puMonth
1493983,2,1,2.79,-73.933907,40.763004,-73.969093,40.763474,16.30,2015,1
1278663,2,1,0.00,-73.907806,40.752865,-73.907799,40.752869,3.30,2015,1
625784,2,1,0.01,-73.962875,40.649597,-73.954956,40.647148,7.05,2015,1
920350,1,1,3.20,-73.910858,40.676563,-73.945564,40.705650,17.30,2015,1
1136994,2,1,1.94,-73.862434,40.730423,-73.892097,40.727894,9.80,2015,1

In [ ]:
green_taxi_df.describe()

In [ ]:
final_df = green_taxi_df.query("pickupLatitude>=40.53 and pickupLatitude<=40.88")
final_df = final_df.query("pickupLongitude>=-74.09 and pickupLongitude<=-73.72")
final_df = final_df.query("tripDistance>=0.25 and tripDistance<31")
final_df = final_df.query("passengerCount>0 and totalAmount>0")

columns_to_remove_for_training = ["pickupLongitude", "pickupLatitude", "dropoffLongitude", "dropoffLatitude"]
for col in columns_to_remove_for_training:
    final_df.pop(col)

In [ ]:
from azureml.core.workspace import Workspace
ws = Workspace.from_config()

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(final_df, test_size=0.2, random_state=223)